// ------ Variables couleurs ------ //
$orange: #D9381e;
$gray: #EDEDED;
$lightgray: #7a7a7a;
$white: #fff;
$black: #353535;

$clr-primary: $orange;
$clr-text: $black;
$clr-subtitle: $lightgray;
$clr-cardBg: $gray;
$clr-bodyBg: $white;

// ------ Variables | listes typo ------ //
$ff-sans: 'PT Sans', sans-serif;
$ff-cursive: 'Luckiest Guy', cursive;

$ff-body: $ff-sans;
$ff-headings: $ff-cursive;

$ff-b: 700;
$ff-n: 400;

$font-size: (h1:3.375rem, h2:1.188rem, texte:1.063rem, subtitle:0.875rem); //   font-size: map-get($font-size, h2);